<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection"
         connectionString="Server=localhost;Database=student_app;Uid=root;Pwd=1101jamshid;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
